<div class="flex flex-wrap w-full border-4 border-gray-600 mb-8">
  <div class="w-full studies-title">
    <h1 class="text-4xl text-center text-white"><%= academic_modality.description %></h1>
  </div>
  <div class="flex flex-wrap w-full studies-categories">
    <%= render academic_modality.users_academic_modalities %>
  </div>
</div>
