<div class="flex flex-wrap ">
  <div class="w-full">
    <h1 class="text-4xl text-center text-white">Estudios de educacion superior: </h1>
  </div>
  <%= render @academic_modalities %>
  <%= button_to "Añadir estudios superiores", new_users_academic_modality_path, method: :get %>
</div>
