<div class="flex flex-wrap">
	<div class="w-full p-3">
		<h1 class="text-5xl">Bienvenido(a) <%=full_name(current_user)%></h1>
		<p class="text-3xl">Has iniciado sesion en Resume App, la mejor aplicacion web para revisar tus datos como aspirante a trabajador del sector publico.</p>
	</div>
</div>
