<div class="flex flex-wrap w-full mb-8">
  <div class="flex flex-wrap w-full">
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Nombre de estudio:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= basic_middle_education.degree_obtained %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Ultimo año cursado:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= basic_middle_education.last_degree %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Fecha de grado:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= basic_middle_education.date_degree %></p>
    </div>
  </div>
</div>
