<div class="flex flex-wrap w-full mb-8">
  <div class="flex flex-wrap w-full">
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Nombre de idioma:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_idiom.name_idiom %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Lo habla:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_idiom.to_speak %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Lo lee :</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_idiom.to_read %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Lo escribe:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_idiom.to_write %></p>
    </div>
  </div>
</div>
