<div class="flex flex-wrap ">
  <div class="w-full">
    <h1 class="text-4xl text-center text-white">Idiomas: </h1>
  </div>
  <%= render @users_idioms %>
  <%= button_to "Añadir idiomas", new_users_idiom_path, method: :get %>
</div>
