<div class="flex flex-wrap w-full mb-8">
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Ocupacion:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_ocupation.description %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Años de experiencia:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_ocupation.years %></p>
    </div>
  </div>
  <div class="flex flex-wrap w-full">
    <div class="w-1/2">
      <p class="text-white">Meses de experiencia:</p>
    </div>
    <div class="w-1/2">
      <p class="text-white"><%= users_ocupation.months %></p>
    </div>
  </div>
</div>
